*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #151F3D;
    color: #C070FF;
}
.principal{
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height:100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao{
    background-color:#a1afdb;
    border-radius: 15px;
    padding: 5px;
    color: rgb(0, 10, 10);
    display: block;
    text-decoration: none;
}

.botao{
    background-color: transparent;
    border-radius: 15px;
    padding: 5px;
    display: block;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
}

.container_imagem{
    margin:9em 0 2em 12em;

}

.container_caixa{
    margin: 0 0;

}

.container_imagem2{
    margin: 1em 0 0 8em;
    width: 30em;
}